body{
    background: linear-gradient(#b8e1f1, #9198e5);
}

.navBar{
    background-color: transparent;
    padding: 10px;
}

.nav-link {
    color: black;
}

.cont1 {
    /*background-color: rgb(91, 113, 211);*/
    height: 500px;
}

.cont2 {
    /*background-color: rgb(193, 231, 243);*/
    height: 500px;
}

#about{
    text-align: center;
    font-size: 125px;
    font-family: 'Oxygen', sans-serif;
    padding-top: 70px;
    padding-left: 40px;

}

#aboutType {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  

#aboutType{
    font-size: 75px;
    text-align: center;
}
.cont3 {
    /*background-color: rgb(91, 113, 211);*/
    height: 600px;
}

.cont4 {
    /*background-color: rgb(193, 231, 243);*/
    height: 500px;
}

#contact{
    text-align: center;
    font-size: 125px;
    font-family: 'Oxygen', sans-serif;
    padding-top: 70px;
    padding-right: 40px;

}

a.nav-link:hover{
    color: black;
}

h1{
    text-align: center;
    font-size: 125px;
    font-family: 'Oxygen', sans-serif;
    padding-top: 70px;
    
}

p{
    text-align: center;
    font-size: 75px;
    font-family: 'Oxygen', sans-serif;
    padding-top: 0px;
    
}

h1 {
    animation-duration: 3s;
    animation-name: slidein;
    
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  p {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
    }

  /*p {animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    



